header, footer{
    padding: 1%;
    background-color: lavender;
    color: black;
}

nav{
    padding: 1%;
    max-width: 300px;
    line-height: 40px;
}
img{
    max-width: 300px;
    padding: 1%;
}