body{
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

img{
    padding-bottom: 50px;
    border: 50px;
    border-color: maroon;
    border-radius: 60px;
}

.cards{
    background-color: beige;
    padding: 10px;
    border: 20px;
    max-width: 960px;
    margin: auto;
}

h2{
    color: maroon;
}

h1{
    padding: 40px;
}

.container{
	max-width: 960px;
	margin: 10px auto;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr;
	aspect-ratio: 1/1;	
}

@media only screen and (min-width: 550px) {
    .container{
        grid-template-columns: 1fr 1fr;

    }
}

@media only screen and (min-width: 800px) {/* desktop view */
    .container{
        grid-template-columns: 1fr 1fr 1fr;

    }  
}
