header, footer{
    padding: 1%;
    background-color: lavender;
    color: black;
    font-size: larger;
}

nav{
    padding: 1%;
    max-width: 300px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 300px;
    padding: 1%;
}
h3{
    padding: auto 1%;
    margin-left: 1%;
}
body{
    text-align: center;
    padding: 20px ;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    }

    .ksl{
        
    }